if TrancyGlow_DONGLE

config ZMK_KEYBOARD_NAME
    default "TrancyGlow"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_USB
    default y

endif
 

if TrancyGlow_DONGLE || TrancyGlow_LEFT || TrancyGlow_RIGHT

config ZMK_SPLIT
    default y

config ZMK_SLEEP
	default y

config ZMK_BLE
  default y

endif 
